/* about.module.css */

.shadowContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 10%;
    flex-direction: column; /* Change to column to stack content vertically */
    min-height: 100%; /* Full viewport height */
    overflow: hidden;
    background: linear-gradient(135deg, #f3beff, #ffc3a0, #afc0ff); /* Soft gradient background */
    padding: 2rem; /* Add padding for space around content */
    padding-bottom: 10%;;
  }
  
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: flex-start; /* Align items at the top */
    width: 90%; /* Increase width for better readability */
    max-width: 1200px; /* Max width to limit stretching on large screens */
    padding: 2.5rem; /* Add padding for space around content */
    border-radius: 10px; /* Rounded corners for the container */
    background-color: rgba(63, 41, 88, 0.2); /* Slightly transparent white background */
    box-shadow: 10px 5px 20px rgba(0, 0, 0, 0.25); /* Subtle shadow for depth */
  }
  
  .pageTitle {
    color: #fff; /* White color for the title */
    font-size: 2rem; /* Size for title */
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin-bottom: 2rem; /* Space below title */
    text-align: center; /* Center align the title */
  }
  
  .columns {
    display: grid; /* Use grid layout for columns */
    grid-template-columns: 1fr 1fr; /* Two equal columns */
    gap: 3rem; /* Increased space between columns */
    width: 100%; /* Full width of the container */
  }
  
  .column {
    text-align: left; /* Align text to the left for better readability */
  }
  
  .subTitle {
    color: #ffffff; /* Dark color for subtitles */
    font-size: 1.2rem; /* Size for subtitles */
    margin-top: 1.5rem; /* Space above subtitles */
    font-family:Verdana, Geneva, Tahoma, sans-serif;
  }
  
  .text {
    font-size: 1rem; /* General text size */
    color: #ffffff; /* Light gray color for general text */
    margin-bottom: 4rem; /* Space below each paragraph */
  }
  
  /* Media Queries for Responsiveness */
  @media (max-width: 600px) {
    .pageTitle {
      font-size: 2.5rem; /* Adjust title size for small screens */
    }
    .subTitle {
      font-size: 1.5rem; /* Adjust subtitle size for small screens */
    }
    .text {
      font-size: 0.9rem; /* Adjust text size for small screens */
    }
    .columns {
      grid-template-columns: 1fr; /* Stack columns on small screens */
    }
  }
  